* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(270deg, #05b62b, #00bd5b, #00bd84);
    animation: AnimationName 30s ease infinite;
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.Card{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 0;
    border-radius: 30px;
    background-color: transparent;
    box-shadow: 2px 2px 2px 2px;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}
.Cima{
    position: relative;
    display: flex;
    justify-content: center;
    top: 0%;
    width: 100%;
    height: 60%;
    flex-direction: row;
    background-color: transparent;
}
.Direita{
    position: relative;
    display: flex;
    justify-content: space-around;
    right: 0%;
    width: 50%;
    flex-direction: column;
    background-color: transparent;
    border-radius: 0px 30px 0px 0px;
}
.DivCaixa{
    align-items: center;
    justify-content: center;
    top: 0vh;
    width: 100%;
    position: relative;
    display: flex;
}
.InputCaixa{
    display: flex;
    width: 70%;
    padding: 15px;
    border-radius: 30px;
    box-sizing: border-box;
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-justify: center;
    color: white;
    border: 5px white solid;
}

.InputCaixa::placeholder{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-justify: center;
    color: white;
}
.Esquerda{
    position: relative;
    display: flex;
    justify-content: center;
    left: 0%;
    width: 50%;
    background-color: transparent;
    border-radius: 30px 0px 30px 0px;
}
.Main{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.Imagem{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Dobradica1{
    position: absolute;
    background-color: #232323;
    border-radius: 25px 0px 0px 25px;
    border-top: 10px #656565 solid;
    border-bottom: 10px #656565 solid;
    border-left: 10px #656565 solid;
    height: 12%;
    width: 10%;
    z-index: 1;
    left: -10%;
    top: 10%;
}
.Dobradica2{
    position: absolute;
    background-color: #232323;
    border-radius: 25px 0px 0px 25px;
    border-top: 10px #656565 solid;
    border-bottom: 10px #656565 solid;
    border-left: 10px #656565 solid;
    height: 12%;
    width: 10%;
    z-index: 1;
    left: -10%;
    bottom: 10%;
}
.Container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 82%;
    width: 50%;
    background-color: #232323;
    border-radius: 25px;
    flex-direction: column;
    opacity: 1;
    border: 10px #656565 solid;
}
.Detalhes{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    top: 5%;
    width: 90%;
    height: 90%;
}
.Detalhe{
    position: relative;
    display: flex;
    width: 90%;
    height: 20%;
    background-color: #232323;
    border-radius: 30px;
    border: 5px #656565 solid;
}
.Sobrancelhas{
    z-index: 1;
    display: flex;
    height: 5%;
    width: 70%;
    align-items: center;
    justify-content: space-around;
}
.Sobrancelha{
    height: 80%;
    width: 30%;
    background-color: #656565;
    border-radius: 50% 50% 0 0;
    box-shadow: 1px 1px 1px 1px;
}
.Olhos{
    display: flex;
    z-index: 1;
    height: 40%;
    width: 70%;
    align-items: center;
    justify-content: space-around;
}
.Olho{
    background-color: white;
    display: flex;
    height: 60%;
    width: 45%;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: calc(50% - 10px);
    top: calc(50% - 15px);
    overflow: hidden;
}
.Pupila{
    background-color: #006400;
    height: 60%;
    width: 60%;
    border-radius: 50%;
    position: relative;
    transform: translate(50%, 50%);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.PupilaInterior{
    position: relative;
    background-color: black;
    height: 50%;
    width: 50%;
    border-radius: 50%;
}
.Branco{
    position: absolute;
    z-index: 2;
    top: 10%;
    right: 0%;
    width: 30%;
    height: 20%;
    border-radius: 30px;
    background-color: white;
}
.Boca{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 70%;
    z-index: 1;
}
.Labios{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: #800000;
    height: 0%;
    /* border-radius: 0 0 100% 100%; */
    flex-direction: column;
    overflow: hidden;
}
.Dentes{
    width: 80%;
    height: 30%;
    background-color: white;
    border-radius: 0 0 5em 5em;
}
.Garganta{
    width: 50%;
    height: 30%;
    background-color: #360003; 
    border-radius: 50% 50% 0 0;
}
.Lingua{
    width: 80%;
    bottom: 0%;
    height: 40%;
    background-color: red;
    border-radius: 50% 50% 0 0;
}
.Base{
    display: flex;
    height: 8%;
    width: 18%;
    bottom: 0%;
    align-items: center;
    justify-content: center;
    background-color: #232323;
    border-radius: 0px 0px 25px 25px;
    border-left: 10px #656565 solid;
    border-right: 10px #656565 solid;
    border-bottom: 10px #656565 solid;
}
.Furos{
    position: relative;
    align-items: center;
    justify-content: space-around;
    display: flex;
    height: 90%;
    width: 100%;
}
.Furo{
    width: 10%;
    height: 90%;
    background-color: white;
    border-radius: 30px;
}
.Meio{
    height: 10%;
    width: 100%;
}
.Botoes{
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.DivVoltar{
    align-items: center;
    justify-content: center;
    top: 0vh;
    width: 100%;
    position: relative;
    display: flex;
}
.ButtonVoltar{
    display: flex;
    width: 70%;
    padding: 15px;
    border-radius: 30px;
    box-sizing: border-box;
    background-color: transparent;
    border: 5px black solid;
    font-weight: bold;
    font-size: 140%;
    text-align: center;
    text-justify: center;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
}
.ButtonVoltar:hover{
    background-color: #d62000;
    color: white;
    border-color: white;
}
.DivLimpar{
    align-items: center;
    justify-content: center;
    top: 0vh;
    width: 100%;
    position: relative;
    display: flex;
}
.ButtonLimpar{
    display: flex;
    width: 70%;
    padding: 15px;
    border-radius: 30px;
    box-sizing: border-box;
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-justify: center;
    align-items: center;
    justify-content: center;
    color: white;
    border: 5px white solid;
}
.DivPesquisar{
    align-items: center;
    justify-content: center;
    top: 0vh;
    width: 100%;
    position: relative;
    display: flex;
}
.ButtonPesquisar{
    display: flex;
    width: 70%;
    padding: 15px;
    border-radius: 30px;
    box-sizing: border-box;
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-justify: center;
    align-items: center;
    justify-content: center;
    color: white;
    border: 5px white solid;
}
.DivCarregar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Carregar{
    width: 56px;
   height: 56px;
   border-radius: 50%;
   padding: 6.7px;
   background: conic-gradient(from 135deg at top,black 90deg, #0000 0) 0 calc(50% - 4.5px)/19px 9.5px,
          radial-gradient(farthest-side at bottom left,#0000 calc(100% - 6.7px),black calc(100% - 5.6px) 99%,#0000) top right/50%  50% content-box content-box,
          radial-gradient(farthest-side at top,#0000 calc(100% - 6.7px),black calc(100% - 5.6px) 99%,#0000) bottom   /100% 50% content-box content-box;
   background-repeat: no-repeat;
   animation: spinner-v8og74 1s infinite linear;
}
@keyframes spinner-v8og74 {
    100% {
       transform: rotate(1turn);
    }
 }
.Baixo{
    position: relative;
    left: 0%;
    height: 30%;
    width: 100%;
    background-color: transparent;
    border-radius: 0px 0px 30px 30px;
    overflow-y: scroll;
}
.TabelaFundo{
    border-collapse: collapse;
    position: relative;
    table-layout: fixed;
    border: 10px 0px 0px 0px;
    border-color: #008000;
    box-shadow: 1px 1px 1px 1px;
    background-color: white;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 4%;
    border-radius: 30px;
    font-size: 25px;
    overflow: hidden;
}
.Thead{
    color: black;
    align-items: center;
    text-align: center;
    font-weight: bold;
    overflow-y: auto;
    height: 25%;
    top: 0%;
    position: sticky;
    background-color:white;
}
.Thead .Th{
    border: 1px white solid;
    position: sticky;
    top: 0px;
}
.Tbody{
    top: 5%;
    height: 80%;
    width: 100%;
    background-color:white;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    overflow-y: auto;
    border-color: black;
    border-width: 2px;
    
}