* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  * {
    scrollbar-width: auto;
    scrollbar-color: black transparent;
  }

  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(270deg, #05b62b, #00bd5b, #00bd84);
    animation: AnimationName 30s ease infinite;
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
input{
  align-items: center;
  justify-content: center;
  text-align: center;
}
.Card{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 0;
    border-radius: 30px;
    background-color: transparent;
    box-shadow: 2px 2px 2px 2px;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
}
.Cima{
  display: flex;
  height: 90%;
  width: 95%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 30px;
  background-color: transparent;
  box-shadow: 2px 2px 2px 2px;
}
.linhaVendas{
  height: 48%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.tituloLinhaVendas{
  width: 100%;
  height: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 160%;
  word-break: break-all;
  font-weight: bold;
}
.Cima > .linhaVendas > .Card{
  display: flex;
  height: 90%;
  width: 33%;
  flex-direction: column;
}
.tituloLinhaRenovacoes{
  width: 100%;
  height: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 160%;
  word-break: break-all;
  font-weight: bold;
}
.linhaRenovacoes{
  height: 48%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.Cima > .linhaRenovacoes > .Card{
  display: flex;
  height: 90%;
  width: 33%;
  flex-direction: column;
}
.titulo{
  font-size: 140%;
  font-weight: bold;
}
.DivInput{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 15%;
}
.Input{
  width: 80%;
  height: 80%;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
}
.Input::placeholder{
  text-align: center;
  font-weight: bold;
  font-size: 90%;
  word-break: break-all;
}
.Baixo{
  bottom: 0%;
  display: flex;
  height: 10%;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.DivVoltar{
  display: flex;
  height: 50%;
  width: 50%;
  align-items: center;
  justify-content: center;
}
.ButtonVoltar{
  display: flex;
  width: 70%;
  padding: 15px;
  border-radius: 30px;
  box-sizing: border-box;
  background-color: transparent;
  border: 5px black solid;
  font-weight: bold;
  font-size: 140%;
  text-align: center;
  text-justify: center;
  align-items: center;
  justify-content: center;
  color: black;
  text-decoration: none;
}
.ButtonVoltar:hover{
  background-color: #d62000;
  color: white;
  border-color: white;
}
.DivAvancar{
  display: flex;
  height: 50%;
  width: 50%;
  align-items: center;
  justify-content: center;
}
.BotaoAvancar{
  display: flex;
  width: 70%;
  padding: 15px;
  border-radius: 30px;
  box-sizing: border-box;
  background-color: transparent;
  border: 5px white solid;
  font-weight: bold;
  font-size: 140%;
  text-align: center;
  text-justify: center;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  word-break: break-all;
} 
.DivCarregar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Carregar{
    width: 56px;
   height: 56px;
   border-radius: 50%;
   padding: 6.7px;
   background: conic-gradient(from 135deg at top,black 90deg, #0000 0) 0 calc(50% - 4.5px)/19px 9.5px,
          radial-gradient(farthest-side at bottom left,#0000 calc(100% - 6.7px),black calc(100% - 5.6px) 99%,#0000) top right/50%  50% content-box content-box,
          radial-gradient(farthest-side at top,#0000 calc(100% - 6.7px),black calc(100% - 5.6px) 99%,#0000) bottom   /100% 50% content-box content-box;
   background-repeat: no-repeat;
   animation: spinner-v8og74 1s infinite linear;
}
@keyframes spinner-v8og74 {
    100% {
       transform: rotate(1turn);
    }
 }