* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(270deg, #05b62b, #00bd5b, #00bd84);
    animation: AnimationName 30s ease infinite;
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.Card{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 0;
    border-radius: 30px;
    background-color: transparent;
    box-shadow: 2px 2px 2px 2px;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
}
.Cima{
    position: relative;
    display: flex;
    justify-content: center;
    top: 0%;
    width: 100%;
    height: 60%;
    flex-direction: row;
    background-color: transparent;
}
.DivFixo{
    z-index: 1;
    align-items: center;
    justify-content: center;
    top: 3%;
    right: -2%;
    width: 70%;
    display: flex;
    position: absolute;
}
.InputFixo{
    display: flex;
    width: 70%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
    background-color: #b1bccd;
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-justify: center;
    border: 5px black solid;
}
.InputFixo::placeholder{
    color: black;
}
.Main{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.Imagem{
    display: flex;
    height: 80%;
    width: 80%;
    align-items: center;
    justify-content: center;
}
.Container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 45%;
    z-index: 3;
    background-color: #3399ff;
    border-radius: 10%;
    flex-direction: column;
    border: 5px black solid;
}
.Container::before{
    position: absolute;
    border-radius: 0 42px 42px 0;
    background: linear-gradient(90deg, #3399ff 0%, #0073e6 32%, #0059b3 100%);
    content: "";
    width: 10%;
    height: 98%;
    right: 0%;
}
.Container::after{
    position: absolute;
    border-radius: 42px 0 0 42px;
    background: linear-gradient(90deg, #0059b3 0%, #0073e6 32%, #3399ff 100%);
    content: "";
    width: 10%;
    height: 98%;
    left: 0%;
}
.Espiral{
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
}
.Linha1{
    z-index: 1;
    position: absolute;
    border-radius: 50%;
    display: flex;
    border-top: 10px transparent solid;
    border-right: 10px #b1bccd solid;
    border-bottom: 10px #b1bccd solid;
    border-left: 10px transparent solid;
    width: 20%;
    height: 40%;
    bottom: 0%;
    left: 1.9%;
}
.Linha2{
    z-index: 2;
    position: absolute;
    border-radius: 50%;
    display: flex;
    border-top: 10px #b1bccd solid;
    border-right: 10px transparent solid;
    border-bottom: 10px transparent solid;
    border-left: 10px #b1bccd solid;
    width: 20%;
    height: 40%;
    bottom: 0%;
    left: 1.9%;
}
.Linha3{
    z-index: 2;
    position: absolute;
    border-radius: 50%;
    display: flex;
    border-top: 10px #b1bccd solid;
    border-right: 10px #b1bccd solid;
    border-bottom: 10px #b1bccd solid;
    border-left: 10px transparent solid;
    width: 20%;
    height: 48%;
    bottom: 0%;
    left: -2%;
    rotate: 90deg;
}
.Gancho{
    z-index: 1;
    position: absolute;
    display: flex;
    height: 100%;
    width: 20%;
    left: 10%;
    background-color: #3399ff;
    margin-bottom: 20%;
    border-radius: 50% / 10%;
    border: 5px black solid;
    overflow: hidden;
}
.Gancho::before{
    position: absolute;
    border-radius: 0 52px 52px 0;
    background: linear-gradient(90deg, #3399ff 0%, #0073e6 32%, #0059b3 100%);
    content: "";
    width: 20%;
    height: 100%;
    right: 0%;
}
.Digitos{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    right: 13%;
    height: 60%;
    bottom: 15%;
    flex-wrap: wrap;
}
.Botao{
    background-color: #b1bccd;
    border-radius: 50%;
    border: 2px black solid;
    width: 30%;
    height: 30%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    -webkit-text-stroke: 2px black;
    font-size: 180%;
}
.Botao:active{
    background-color: black;
    border-color: white;
    -webkit-text-stroke-color: white;
}
.Fundo{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 99%;
    left: 0%;
    bottom: 0%;
    z-index: 3;
    background-color: transparent;
    border-radius: 25px 25px 25px 25px;
    flex-direction: column;
    border: 5px black solid; 
}
.Meio{
    height: 10%;
    width: 100%;
}
.Botoes{
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.DivVoltar{
    align-items: center;
    justify-content: center;
    top: 0vh;
    width: 100%;
    position: relative;
    display: flex;
}
.ButtonVoltar{
    display: flex;
    width: 70%;
    padding: 15px;
    border-radius: 30px;
    box-sizing: border-box;
    background-color: transparent;
    border: 5px black solid;
    font-weight: bold;
    font-size: 140%;
    text-align: center;
    text-justify: center;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
}
.ButtonVoltar:hover{
    background-color: #d62000;
    color: white;
    border-color: white;
}
.DivLimpar{
    align-items: center;
    justify-content: center;
    top: 0vh;
    width: 100%;
    position: relative;
    display: flex;
}
.ButtonLimpar{
    display: flex;
    width: 70%;
    padding: 15px;
    border-radius: 30px;
    box-sizing: border-box;
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-justify: center;
    align-items: center;
    justify-content: center;
    color: white;
    border: 5px white solid;
}
.DivPesquisar{
    align-items: center;
    justify-content: center;
    top: 0vh;
    width: 100%;
    position: relative;
    display: flex;
}
.ButtonPesquisar{
    display: flex;
    width: 70%;
    padding: 15px;
    border-radius: 30px;
    box-sizing: border-box;
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-justify: center;
    align-items: center;
    justify-content: center;
    color: white;
    border: 5px white solid;
}
.DivCarregar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Carregar{
    width: 56px;
   height: 56px;
   border-radius: 50%;
   padding: 6.7px;
   background: conic-gradient(from 135deg at top,black 90deg, #0000 0) 0 calc(50% - 4.5px)/19px 9.5px,
          radial-gradient(farthest-side at bottom left,#0000 calc(100% - 6.7px),black calc(100% - 5.6px) 99%,#0000) top right/50%  50% content-box content-box,
          radial-gradient(farthest-side at top,#0000 calc(100% - 6.7px),black calc(100% - 5.6px) 99%,#0000) bottom   /100% 50% content-box content-box;
   background-repeat: no-repeat;
   animation: spinner-v8og74 1s infinite linear;
}
@keyframes spinner-v8og74 {
    100% {
       transform: rotate(1turn);
    }
 }
.Baixo{
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 30%;
    width: 100%;
    background-color: transparent;
    border-radius: 0px 0px 30px 30px;
    max-height: 100%;
    overflow-y: scroll;
}
.TabelaFundo{
    border-collapse: collapse;
    position: relative;
    table-layout: fixed;
    border: 10px 0px 0px 0px;
    border-color: #008000;
    box-shadow: 1px 1px 1px 1px;
    background-color: white;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 4%;
    border-radius: 30px;
    font-size: 25px;
    overflow: hidden;
}
.Thead{
    color: black;
    align-items: center;
    text-align: center;
    font-weight: bold;
    overflow-y: auto;
    height: 25%;
    top: 0%;
    position: sticky;
    background-color:transparent;
}
.Thead .Th{
    border: 1px white solid;
    position: sticky;
    top: 0px;
}
.Tbody{
    top: 5%;
    height: 80%;
    width: 100%;
    background-color:white;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    overflow-y: auto;
    border-color: black;
    border-width: 2px;
    
}